<div class="conteiner">
  <div class="row justify-content-center mb-3">
    <h3 class="col"><%= @end_user.name %>のページ</h3>
  </div>
  <div class="row justify-content-center">
    <!-- ユーザーの詳細 -->
    <div class="col-11">
      <h3 class="mb-3"><%= @end_user.name %></h3>
      <% if @end_user.name == "guestuser" %>
      <% elsif @end_user == current_end_user %>
        <%= link_to '・いいね一覧', favorites_index_path, class: "text-white text-decoration-underline"%><br>
        <%= link_to "・プロフィール編集", edit_end_user_path, class: "text-white text-decoration-underline"%>
      <% end %>
      <div class="mt-3"><%= @end_user.introduction %></div>
    </div>
  </div>

  <!-- ユーザーの投稿一覧 -->
  <div class="row justify-content-center">
    <div class="col-11">
      <table class="table table-bordered text-white">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>記事内容</th>
            <th></th>
          </tr>
        </thead>
        <% @articles.each do |article| %>
        <tbody>
          <tr>
            <td><%= link_to article.title, article_path(article.id), class: "text-white text-decoration-underline"%></td>
            <td><%= article.body.truncate(70) %></td>
            <td>
              <% if current_end_user.name != "guestuser" %>
              <div id = "like_<%= article.id %>">
                <%= render partial: "public/favorites/favorite", locals: { article: article } %>
              </div>
              <% end %>
              <%= link_to "#{article.article_comments.count} コメント", article_path(article.id), class: "text-white text-decoration-underline" %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>