<div class="conteiner">
  <div class="row justify-content-center mt-3">
    <h3 class="col">投稿記事詳細</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-11">
      <div>タイトル：<%= @article.title %></div>
      <div>投稿者：<%= link_to @article.end_user.name,admin_end_user_path(@article.end_user.id), class: "text-white text-decoration-underline" %></div>
      <div class="border rounded border-dark"><%= simple_format(@article.body) %></div>
      <div class="text-right">
        <%#= link_to "編集", edit_article_path(@article), class: "text-white text-decoration-underline"%>
        <%= link_to "削除", admin_article_path(@article), class: "text-danger text-decoration-underline", method: :delete %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-11">
      <p>コメント件数：<%= @article.article_comments.count %></p>
      <% @article.article_comments.each do |article_comment| %>
      <table class="col border-bottom border-right">
        <td class="col-2"><%= article_comment.end_user.name %><br><%= article_comment.created_at.strftime('%Y/%m/%d') %></td>
        <td class="col-1"></td>
        <td><%= simple_format(article_comment.comment) %></td>
        <td class="col-1 justify-content-right">
          <%= link_to "削除", article_article_comment_path(article_comment.article, article_comment), class: "text-white text-decoration-underline", method: :delete %>
        </td>
      </table>
      <div class="sentiment-score justify-content-right text-warning">本文の感情分析スコア<%= article_comment.score %></div>
      <% end %>
    </div>
  </div>
</div>