<div class="conteiner">
  <div class="row justify-content-center">
    <div class="col">
      <h2>検索結果</h2>
      <% if @end_users.size < 1 && @articles.size < 1 %>
        <p>検索に一致するものはありませんでした。</p>
      <% else %>
      <table class="table table-hover table-inverse text-white">
        <!--検索対象モデルがUserの時 -->
        <% if @range == "ユーザー" %>
          <thead>
            <tr>
              <th>ユーザーネーム</th>
            </tr>
          </thead>
          <tbody>
            <% @end_users.each do |end_user| %>
              <tr>
                <td><%= link_to end_user.name, end_user_path(end_user.id),class: 'text-white text-decoration-underline' %></td>
              </tr>
            <% end %>
          </tbody>
        <% else %>
          <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
          <thead>
            <tr>
              <th>タイトル</th>
              <th>投稿者</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @articles.each do |article| %>
              <tr>
                <td><%= link_to article.title, article_path(article.id),class: 'text-white text-decoration-underline' %></td>
                <td><%= link_to article.end_user.name, end_user_path(article.end_user.id),class: 'text-white text-decoration-underline' %></td>
                <td>
                  <div id = "like_<%= article.id %>">
                    <%= render partial: "public/favorites/favorite", locals: { article: article } %>
                  </div>
                  <%= link_to "#{article.article_comments.count} コメント", article_path(article.id),class: 'text-white text-decoration-underline' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
      <% end %>
    </div>
  </div>
</div>