<div class="conteiner">
  <div class="row mt-5 mb-3">
    <h3 class="m-3">投稿記事一覧</h3>
  </div>
  <div class="row mb-5 pb-5 justify-content-center">
    <div class="col-md-8">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>投稿者</th>
          <th>記事内容</th>
          <th></th>
        </tr>
      </thead>
      <% @articles.each do |article| %>
        <tbody>
          <tr>
            <td><%= link_to article.title, article_path(article.id) %></td>
            <td><%= link_to article.end_user.name, end_user_path(article.end_user.id) %></td>
            <td><%= article.body %></td>
            <td>
              <div id = "like_<%= article.id %>">
                <%= render partial: "public/favorites/favorite", locals: { article: article } %>
              </div>
              <%= link_to "#{article.article_comments.count} コメント", article_path(article.id) %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
    </div>
  </div>
</div>