<div class="conteiner">
  <div class="row mt-5 mb-3">
    <h3 class="m-3">投稿記事詳細</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <div>タイトル：<%= @article.title %></div>
      <div>投稿者：<%= link_to @article.end_user.name %></div>
      <div class="border rounded border-dark"><%= @article.body %></div>
      <div class="text-right">
        <% if @article.end_user == current_end_user %>
        <%= link_to "編集", edit_article_path(@article)%>
        <%= link_to "削除", article_path(@article), method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>