<header class="bg-dark text-white pt-5 pb-4">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <!--ロゴ-->
      <div class="col-2">
        <a class="text-white" href="/"><span>ComboShare</span></a>
      </div>
      <!--メニューと検索窓-->
      <div class="col-7">
        <!--メニュー段-->
        <div class="row">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if end_user_signed_in? %>
                <li>
                  <%= link_to 'マイページ', end_user_path(current_end_user.id), class: 'nav-link text-right' %>
                </li>
                <li>
                  <%= link_to '記事一覧', articles_path, class: 'nav-link text-right' %>
                </li>
                <li>
                  <%= link_to '記事投稿フォーム', new_article_path, class: 'nav-link text-right' %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete, class: 'nav-link text-right' %>
                </li>
              <% else %>
                <li>
                  <%= link_to "新規登録", new_end_user_registration_path, class: 'nav-link text-right' %>
                </li>
                <li>
                  <%= link_to "ログイン", new_end_user_session_path, class: 'nav-link text-right' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <%= render "public/searches/search" %>

</header>