<!DOCTYPE html>
<html>
  <head>
    <title>ComboShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <%= render "layouts/header" %>

  <body class="bg-secondary text-white">
    <%= flash[:notice] %>
    <%= yield %>
  </body>

  <footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-8">
          <p>知識と経験を共有して<br>みんなでLv.up!!</p>
        </div>
        <div class="col-md-4">
          <h6 class="text-white mt-2 mb-3">Link</h6>
          <ul class="p-0 list-unstyled">
            <li>
              <%= link_to "当サイトについて", about_path, class: "text-white"%>
            </li>
            <li>
              <a href="/homes/about" title="License informations" class="text-white">プライバシーポリシー</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>
